<header class="bg-warning">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Clean Shop</h1>
        </div>
    </div>
</header>