<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white text-center mb-4">
                <div class="card-body">Brands</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        @*@await Component.InvokeAsync("GetBrandCount")*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white text-center mb-4">
                <div class="card-body">Models</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        @*@await Component.InvokeAsync("GetModelCount")*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white text-center mb-4">
                <div class="card-body">Roles</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        @*@await Component.InvokeAsync("GetRoleCount")*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white text-center mb-4">
                <div class="card-body">Users</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        @*@await Component.InvokeAsync("GetUserCount")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
