
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="sb-nav-fixed">
    <!--Navbar Starts-->
    <partial name="_NavbarAdmin" />
    <!--Navbar Ends-->
    <!--Body Starts-->
    <div id="layoutSidenav">
        <!--SideNav_Nav Starts-->
        <partial name="_SideNavAdmin" />
        <!--SideNav_Nav Ends-->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!--Body Ends-->
    <!--Footer Starts-->
    <partial name="_FooterAdmin" />
    <!--Footer Ends-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
